*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HTML TAGS */

header{
  background-color: black;
  color: white;
  padding-top: 20px;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* CLASSES */

.title{
  padding-bottom: 15px;
}

.page-padding{
  padding-left: 100px;
  padding-right: 100px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 20px;

}

.nav-element{
  gap: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 40px;

}

.card{
  background: whitesmoke;
  border: 2px solid lightgrey;
  width: 300px;
  height: 430px;
  margin: 50px;
} 


.card-img{
  height: 55%;
  width: 100%;
  margin-bottom: 10px;
}

.date-time{
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.card-title{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.card-text{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
}

.card-hr{
  display: flex;
  justify-content: center;
}

.interaction{
  display: flex;
  justify-content: space-between;
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

/* .clap{
  display: flex;
  flex-direction: row;
} */


.icon-img{
  height: 1rem;
  cursor: pointer;
}

/* IDs */